<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acbingo.myfinaltest10">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.FirstActivity"
            android:theme="@style/NoTitleFullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.SendSignalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activitys.ReceiveSignalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FileChooseService.ChooseFileActivity"
            android:label="选择文件"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".activitys.SendFileInfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".FileChooseService.PathScanActivity"
            android:theme="@style/MyDialogStyle"/>

        <activity android:name=".activitys.ReceiveFileInfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".BluetoothService.BlutoothMainAction.BluetoothChat"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar">

        </activity>

        <activity android:name=".WanTransmission.UpActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".WanTransmission.DownActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".PCTransmission.CaptureActivityAnyOrientation"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity android:name=".PCTransmission.PCMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".PCTransmission.FileSendToPCActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".PCTransmission.FileReceiveFromPCActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".BluetoothService.BlutoothMainAction.BlueDeviceListActivity"
            android:theme="@style/MyDialogStyle"></activity>
        <activity android:name=".FileManagerService.FileManagerMainActivity"></activity>

        <activity android:name=".activitys.SendFileEndActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".activitys.ReceiveFileEndActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>